version: '3'

services:

  proxy:
    image: nginx
    volumes:
      - ./templates:/etc/nginx/templates
    ports:
      - "0.0.0.0:80:80"
    environment:
      - NGINX_HOST=chief.local
      - NGINX_PORT=80
