server {
    listen ${NGINX_PORT};
    server_name ${NGINX_HOST};

    rewrite ^/plex/?$ http://cygnus:32400 redirect;
    rewrite ^/pod/?$ http://cygnus:8181 redirect;
    rewrite ^/snap/?$ http://cygnus:1780 redirect;
    rewrite ^/iris/?$ http://cygnus:6680/iris/ redirect;
    rewrite ^/port/?$ http://cygnus:9123 redirect;

    location / {
        proxy_pass http://cygnus:5000;
    }    
    location /j {
        proxy_pass http://enterprise:9117;
    }
    location /radarr {
        proxy_pass http://cygnus:7878;
    }
    location /sonarr {
        proxy_pass http://cygnus:8989;
    }
    location /lidarr {
        proxy_pass http://cygnus:8686;
    }
    location /prowlarr {
        proxy_pass http://cygnus:9696;
    }
    location /trans {
        proxy_pass http://cygnus:9091;
    }
    location /sabnzbd {
        proxy_pass http://cygnus:9090;
    }
}
