server {
    listen ${NGINX_PORT};
    server_name ${NGINX_HOST};

    rewrite ^/plex$ http://cygnus:32400 redirect;
    rewrite ^/pod$ http://cygnus:8181 redirect;

    location /j {
        proxy_pass http://localhost:9117
    }
    location /radarr {
        proxy_pass http://cygnus:7878;
    }
    location /sonarr {
        proxy_pass http://cygnus:8989;
    }
    location /snap {
        proxy_pass http://cygnus:1780;
    }
    location /trans {
        proxy_pass http://cygnus:49092;
    }
    location /nzb {
        proxy_pass http://cygnus:9292;
    }
}
